---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


header.site-header{ 
    background: linear-gradient(to top right, #003300 0%, #006600 100%);
    padding: 35px;
 }
 
a.site-title:visited {

color: 	#FDF5E6;
font-size: 40px;
text-decoration: none;
 }
 
 a.site-title {
 	color: #FFDAB9;
    font-size: 40px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-shadow: -1px 0         #DAA520, 0 1px      #DAA520, 1px 0      #DAA520, 0 -1px         #DAA520;
    text-decoration: none;
}



.site-nav .page-link {
 	color: #FDF5E6;
    font-size: 40px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-shadow: -1px 0 #DAA520, 0 1px #DAA520, 1px 0 #DAA520, 0 -1px #DAA520;
    text-decoration: none;
}

h1 {
	color: #2E8B57;
}

a.post-link {
	color: #2E8B57;
	}

.site-name h1 {
    color: #FDF5E6;
    text-align: center;
    vertical-align: middle;
    font-family: 'Arizonia', cursive;
    font-size: 50px;
    text-shadow: -1px 0 #DAA520, 0 1px #DAA520, 1px 0 #DAA520, 0 -1px #DAA520;
}